* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --icon-color: #bbc2d3;
  }

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-areas: "sidebar header"
                        "sidebar main-container";
    grid-template-rows: 100px auto;
    grid-template-columns: 281px 1fr;
    min-height: 100vh;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

button {
    cursor: pointer;
}

.sidebar {
    grid-area: sidebar;
    height: 100vh;
    padding: 35px 45px 35px 35px;
    display: grid;
    grid-template-rows: 50px auto 1fr 80px;
    gap: 40px;
    background-color: #fdfdfd;
}

.sidebar ul {
    list-style-type: none;
}

.logo {
    display: grid;
    grid-template-columns: 50px auto;
    align-items: center;
    gap: 15px;
}

.sidebar li {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 40px;
    align-items: center;
    gap: 15px;
}

.sidebar li img {
    justify-self: center;
}

.sidebar a {
    transition: all .1s ease-in;
}

.sidebar a:hover {
    font-weight: 700;
}

.dashboard-icon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--icon-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-menu {
    grid-row: 4 / 5;
}

h2 {
    font-weight: 700;
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

.main-container h3 {
    margin-bottom: 20px;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding: 35px;
    background-color: #f4f4f4;
    -webkit-box-shadow: inset 19px 0px 11px -22px rgba(0,0,0,0.19); 
    box-shadow: inset 19px 0px 11px -22px rgba(0,0,0,0.19);
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--icon-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-data {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: auto auto;
    column-gap: 15px;
}

.name {
    font-size: 28px;
    font-weight: 700;
}

.greeting {
    grid-column: 2 / -1;
}

.name {
    grid-column: 2 / -1;
}

.user-avatar {
    grid-row: 1 / -1;
}

.main-container {
    grid-area: main-container;
    display: grid;
    grid-template-areas: "news ads"
                        "news releases";
    padding: 35px;
    grid-template-rows: auto 1fr;
    gap: 35px;
    background-color: #f4f4f4;
    -webkit-box-shadow: inset 19px 0px 11px -22px rgba(0,0,0,0.19); 
    box-shadow: inset 19px 0px 11px -22px rgba(0,0,0,0.19);
}

.news {
    grid-area: news;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background-color: #fdfdfd;
    border-radius: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
}

.cards .card:hover {
    top: -2px;
}

.card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
    border-radius: 25px 25px 0 0;
    margin-bottom: 25px;
  }

.cards .card h4 {
    padding: 0 25px 0 25px;
}

.cards .card p {
    padding: 15px 25px 25px 25px;
}

.ads {
    grid-area: ads;
}

.ads .card {
    background-size: cover;
    background-position: center center;
    border-radius: 25px;
    padding: 25px;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.ads .card h4 {
    font-size: 28px;
    font-weight: 700;
    color: white;
}

.ads .card p {
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
    color: white;
}

.ads .card:hover {
    top: -2px;
}

.releases {
    grid-area: releases;
}

.releases .card {
    padding: 0 25px;
}

.releases .card a {
    display: block;
    padding: 25px 0;
    border-bottom: 1px solid #c7c7c7;
    transition: all .1s ease-in;
}

.releases .card a:last-of-type {
    border: none;
}

.releases .card a:hover {
    font-weight: 700;
}

.privacy-policy h4 {
    padding: 25px 0;
}

.contact-data p {
    line-height: 4ch;
}

.main-container.collection {
    grid-area: main-container;
    display: grid;
    padding: 35px;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    row-gap: 35px;
    column-gap: 0;
    background-color: #f4f4f4;
    -webkit-box-shadow: inset 19px 0px 11px -22px rgba(0,0,0,0.19); 
    box-shadow: inset 19px 0px 11px -22px rgba(0,0,0,0.19);
}

.my-collection .card {
    padding: 25px;
    overflow-wrap: break-word;
}

.my-collection {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    gap: 20px;
}

dialog {
    border: none !important;
    border-radius: 25px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 25px;
    width: 295px;
    position: relative;
    top: 28%;
    left: 318px;
}

#open_dialog {
    margin: 0 auto;
}

.open-dialog {
    height: 50px;
    min-width: 200px;
    max-width: 295px;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    background-color: var(--icon-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all .1s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 15px 0 20px;
}

.open-dialog:hover {
    background-color: #adb6c7;
    font-weight: 700;
}

.open-dialog:active {
    background-color: #99a3b5;
    font-weight: 700;
}

.close-dialog {
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

::backdrop {
    background-color: #e6e6e6;
    opacity: 0.75;
}

body:has(dialog[open]) {
    filter: blur(4px);
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 20px; 
    margin-bottom: 20px;
  }
  
.form-row > div {
    flex: 1; 
    display: flex;
    flex-direction: column;
  }

label {
    margin-bottom: 5px;
}

input {
    height: 30px;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 5px;
}

select {
    height: 30px;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 5px;
}

.form-button {
    height: 40px;
    width: 120px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    align-self: center;
    background-color: var(--icon-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all .1s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 15px;
    margin-top: 8px;
}

.form-button:hover{
    background-color: #adb6c7;
    font-weight: 600;
}

.form-button:active {
    background-color: #99a3b5;
    font-weight: 600;
}

.closing-row {
    display: flex;
    justify-content: flex-end;
}
