* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    display: grid;
    grid-template-areas: "sidebar header"
                        "sidebar main-container";
}

.sidebar {
    grid-area: sidebar;
    padding: 35px;
    display: grid;
    grid-template-rows: 50px auto auto;
    gap: 15px;
}

.logo {
    display: flex;
    align-items: center;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding: 35px;
    height: 100px;
}

.user-data {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: auto auto;
}

.greeting {
    grid-column: 2 / -1;
}

.name {
    grid-column: 2 / -1;
}

.user-avatar {
    grid-row: 1 / -1;
}

.main-container {
    grid-area: main-container;
    display: grid;
    grid-template-areas: "news ads"
                        "news releases";
    padding: 35px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.ads {
    grid-area: ads;
}

.releases {
    grid-area: releases;
}